.card-header{
        
    background-color:var(--main-color)!important;
    border:2px solid var(--main-color);
    color:var(--secondary)!important;
    /* color:white !important; */

    /* background:linear-gradient(90deg, #004b57, #ff9e00); */
    border-bottom:none;



}

.card-body{
    background-color: transparent;
    border:2px solid var(--main-color);
    

}

#container-card a{
    color: var(--secondary);
    /* color:white; */
    
}

.btn_details{
border: 2px solid var(--main-color) !important;
border-radius:10px !important;
font-weight: bold !important;
color:var(--main-color) !important;


}

.btn_details:hover{
    color:var(--secondary) !important;
}

.card-footer{
    background-color:var(--main-color)!important;
    /* background:linear-gradient(90deg, #004b57, #ff9e00); */
    border:2px solid var(--main-color);
    border-top:none;
    
    color:var(--secondary);
    font-weight:bold;



}

.card-title{
    color:var(--main-color)!important;
    font-weight:bold;

}

.rounded{
    border-radius:50% !important;
}