.rounded{
    border:3px solid var(--secondary);
    border-radius: 50% !important;

}
.cont_card{
    width: 30%;
    
}
.card{
    box-shadow: 10px 10px 10px rgba(0, 75, 87, 0.6),0 10px 15px 15px rgba(255, 157, 0, 0.6);
    border:3px solid var(--secondary)!important;

    border-radius:10%;
    overflow:hidden;
}

.card-header{
    background-color: white !important;
    color:var(--secondary) !important;
    font-weight: bold;
    border:none;
}

.card-footer{
    background-color: white !important;
    color:var(--secondary)!important;
    font-weight:bold;
    border:none;

}

.category-link{
    color:var(--secondary)!important;
    font-weight:bold;
}

.card-body{
    background-color: transparent !important;
    border:none;
}

.card-title{
  color: var(--main-color);
  font-weight:bold;
  text-transform:uppercase;
}

.card-text{
    color:var(--main-color);
    font-weight:bold;
}

.btn_details{
    border-radius:20%;
    padding: 7% 7%;
    border:2px solid var(--main-color);
    font-weight:bold;

}