.create_form_bg{
    background-image:url('/img/sign_up_background.jpg');
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
  }

  #container_create .sign_up_input{
    border: 3px solid var(--main-color) !important;
  }

  .category_select{
    color: var(--secondary) !important;
    font-weight: bold !important;
    background-color: var(--main-color);
  }

  .box_inserimento_immagini{
    background-color: transparent !important;
    border: 3px solid var(--main-color) !important;
    backdrop-filter: blur(2px)!important;
    
   
  }

 
  #description:focus{
    color:var(--main-color);
  }

  #title:focus{
    color:var(--main-color) ;
    font-weight: bold;
    
  }

  #price:focus{
    color:var(--main-color) ;
    font-weight: bold;

    
  }




  .dz-preview{
    background-color: transparent !important;
  }

  .dz-remove{
    color: var(--main-color)!important;
    font-weight: bold !important;
    text-decoration:none !important;
  }

  .dz-remove:hover{
    color: #c20000 !important;

  }

 
