

/* NAVBAR DEFAULT */
#navbar {
    background-color: var(--main-color);
}

.navbar-brand {
    color: var(--white);
    transition: all 0.1s;
    transform: scale(1);
}

.navbar-brand:hover {
    color: var(--secondary);
    transform: scale(1.05);
    font-weight: 500;
}

.btn-new {
    color: var(--white);
    border-color: var(--white);
    transition: all 0.1s;
    transform: scale(1);
}

.btn-new:hover {
    color: var(--secondary);
    border-color: var(--secondary);
    transform: scale(1.05);
    font-weight: 500;
}

.nav-link {
    color: var(--white);
    border-bottom: 2px solid transparent;
    transition: all 0.1s;
    transform: scale(1);
}

.nav-link:hover {
    color: var(--white);
    border-bottom: 2px solid var(--secondary);
    transform: scale(1.05);
    font-weight: 500;
}

.nav-link:focus {
    color: var(--white);
    /* border-bottom: 2px solid var(--secondary); */
}

.dropdown-menu {
    background-color: var(--main-color);
}

.dropdown-item {
    color: var(--white);
}

.dropdown-item:hover {
    color: var(--secondary);
    background-color: var(--main-color);
}

.navbar-toggler .fas {
    color: var(--white);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*------ NAVBAR LIGHT AFTER SCROLLING ---------*/

.bg-light {
    background-color: var(--white);
}

.bg-light .navbar-brand {
    color: var(--main-color);
}

.bg-light .navbar-brand:hover {
    color: var(--secondary);
}

.bg-light .btn-new {
    color: var(--main-color);
    border-color: var(--main-color);
}

.bg-light .btn-new:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

.bg-light .nav-link {
    color: var(--main-color) !important;
}

.bg-light .dropdown-menu {
    background-color: var(--white);
}

.bg-light .dropdown-item {
    color: var(--main-color);
}

.bg-light .dropdown-item:hover {
    color: var(--secondary);
    background-color: var(--white);
}

.bg-light .navbar-toggler .fas {
    color: var(--main-color);
}

/*? -- Dashboard -- */
#dashboard{
    position:relative;
    width:fit-content;
}

#userDropdown{
    position:relative;
}

span.toBeRevisioned{
    padding-left:0;
    padding-right:0;
    position:absolute;
    text-align:center;
    top:-2px;
    right:-6px;
    width:20px;
    height:20px;
    border-radius:999px;
    background-color:var(--secondary);
}