/* register view */

#sign_up_container{
    background-image:url('/img/sign_up_background.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    position:relative;
    

  }

  .text-main{
    color:var(--main-color);
    font-weight: bold;
    text-decoration: none;
    
  }

  .sign_up_input{
    
    box-shadow: rgba(0, 75, 87, 0.25) 0px 14px 28px, rgba(0, 75, 87, 0.22) 0px 10px 10px;
    border:3px solid var(--main-color);
    border-bottom: 10px var(--main-color);
    color: #e5edee;


  }
  .col_form{
    position:relative;
   
  }

  .btn_sign_up{
    /* position:absolute;
    left:25%; */
    padding: 0.375rem 3.75rem !important;
    border: 2px solid var(--main-color) !important;
    border-radius:10px !important;
    font-weight: bold !important;
    box-shadow: rgba(0, 75, 87, 0.25) 0px 14px 28px, rgba(0, 75, 87, 0.22) 0px 10px 10px;
    
  }


  #sign_up_container .form-control{
    border: 2px solid var(--main-color);
    border-radius:10px;
   
  

  }

  



/* login view */
  
.login_input{
    
    box-shadow: rgba(0, 75, 87, 0.25) 0px 14px 28px, rgba(0, 75, 87, 0.22) 0px 10px 10px;
    border:3px solid var(--main-color) !important;
    border_radius:10px;
    color: #e5edee;
}

#login_container{
    background-image:url('/img/sign_up_background.jpg');
    background-position:center;
    background-size: cover;
    position:relative;
    padding-bottom:150px;
    
  }

  #login_container .form-control{
    border: 2px solid var(--main-color);
    border-radius:10px;
   
  

  }

  #login_container a{
    color:var(--secondary) !important;
  }


