* {
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    padding-top: 58px;
}

:root {
    --main-color: #004b57;
    --main: #0075cc;
    --secondary: #ff9e00;
    --white: #eeeef3;
    /* --main-color: rgb(0, 71, 119); */
    --sec-color: rgb(68, 157, 209);
    --accent-color: rgb(232, 232, 232);
}

.txt-secondary {
    color: var(--secondary) !important;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-sec {
    background-color: var(--sec-color);
}

.bg-acc {
    background-color: var(--accent-color);
}

.text-main {
    color: var(--main-color);
}

.text-sec {
    color: var(--sec-color);
}

.text-acc {
    color: var(--accent-color);
}

.category-link {
    text-decoration: none;
    font-weight: bolder;
    color: var(--accent-color);
}

.category-link:hover {
    color: var(--sec-color);
}

.btn-outline-main {
    color: var(--main-color);
    border-color: var(--main-color);
}
.btn-outline-main:hover {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-main {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn-main:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: #fff;
}

.card:hover {
    /* transform: scale(1.05); */
    /* transition: 0.3s; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/*! HEADER */
header {
    position: relative;
    height: calc(100vh - 58px);
    background-image: linear-gradient(90deg, #4ce1d5b4, transparent),
        url("/img/layout/header_bg.jpeg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

#header-txt {
    padding-left: 10%;
    padding-right:10%;
}

#header-txt > h1 {
    color: var(--main-color);
    font-weight: 900;
    font-size: 5em;
}

#header-txt > h5 {
    color: var(--main-color);
    font-size: 1.5em;
}

.chevron {
    /* position: absolute;
    bottom: 10px; */
    /* left: 47%; */
    font-size: 6em;
    color: var(--main-color);
    transition: 0.2s;
}
.chevron:hover {
    color: var(--secondary);
}
.chevron-container {
    position:absolute;
    bottom:10px;
    width:80%;
}

#apply-txt > h1 {
    color: var(--secondary);
    font-weight: 800;
    font-size: 3em;
}

#apply-txt > h4 {
    color: var(--secondary);
    font-weight: bolder;
    font-size: 1.5em;
}

#floatingTextarea {
    height: 100px;
}

.btn-modify {
    background-color: var(--secondary);
    font-weight: bold;
    color: var(--white);
    border-color: var(--secondary);
}

.btn-modify:hover {
    background-color: #eb9204;
    font-weight: bold;
    color: var(--white);
    border-color: var(--secondary);
}

#user-head > h2 {
    color: var(--secondary);
    font-weight: 800;
    font-size: 2.5em;
}
